* {
    padding: 0;
    margin: 0;
}


.logo {
    width: 100%;
    height: 10vh;
    border-radius: 50%;
}
.firstNav img{
    width: 25px;
    margin: 0 5px;
    
}
 nav,
 .footer-container{
    background-color: rgba(251, 248, 248, 0.251);
 }
.navbar-nav a:hover {
    color: rgb(107, 137, 107);
    font-size: 18px;
}

nav li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


.headline img {
    object-fit: cover;
    
    height: 100%;
    
    padding: 20px 0;
    object-position: -1% ; 
}


.headline h1 {
    font-size: 48px;
    width: 100%;
    height: auto;
    font-family: 'Kalnia', serif;
    padding: 50px;
    background-color: rgba(76, 175, 80, 0.1);
    border-radius: 17px;
}

.headline p {
    padding: 40px 30px;
    color: #919090;
    width: 100%;
    height: auto;
}
.headline .modal-title{
    font-family: 'Kalnia', serif;
   
}

.selling-point,
.topPlant {
    padding: 20px;
}


.selling-point h4,
.selling-point p {
    font-family: 'Kalnia', serif;

}

.selling-point img {
    border: none;
 
    margin-top: 20px;
}

.selling-point span{
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #919090;
}


.topPlant .cards-wrapper {
    display: flex;
    padding-top: 10px;    
}

.topPlant h4,
.topPlant h5,
.topPlant h6 ,
.footer-container h4{
    font-family: 'Kalnia', serif;
}

.topPlant small{
    font-family: 'Montserrat', sans-serif;
    color: #919090;

}

.bigScreen .card {
    margin: 0.5em;
    width: calc(100%/3);
    min-width: 350px;
}


.bigScreen .card-title,
.smallScreen .card-title  {
    padding: 20px 0 0 0;
}



.bigScreen img,
.smallScreen img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 5%;
}
.smallScreen .carousel-item{
padding: 30px 0;
}

.carousel {
    padding: 0 20px;
}

.footer-container {
    padding: 40px;
    margin: 20px;
}

.footer-container a{
    color: #919090;
}


